@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.page-empty {
    background: url('../images/bg.png') top left;
}

.mosaic-title {
    color: #666;
    font-size: 150px;
    font-weight: 700;
    line-height: 125px;
    padding-top: 30px;
    text-align: center;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

#mosaic_container {
    display: relative;
}

#mosaic_container .box {
    background: rgba(0, 0, 0, 0.1);

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -moz-box-shadow: 0 0px 4px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0px 4px rgba(0,0,0,.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);

    display: block;
    float: left;
    margin: 5px;
    opacity: 0.8;
    padding: 5px;
    perspective: 1000;
    -webkit-perspective: 1000;
}

#mosaic_container .box:first-child {
    opacity: 1;
}

#mosaic_container .box:hover {
    -webkit-transition:opacity 0.25s linear;
    -moz-transition:opacity 0.25s linear;
    transition:opacity 0.25s linear;
    opacity: 1;
}

#mosaic_container .box-inner {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    width: 380px;
    height: 380px;
}


#mosaic_container .col1, #mosaic_container .col1 img {
    width: 80px;
    height: 80px;
}

#mosaic_container .col2, #mosaic_container .col2 img {
    width: 180px;
    height: 180px;
}

#mosaic_container .col3, #mosaic_container .col3 img {
    width: 280px;
    height: 280px;
}

#mosaic_container .col5 {
    width: 480px;
    height: 180px;
}

#mosaic_container .summary {
    background-color: #333;
    bottom: 0;
    color: #EEE;
    font-size:20px;
    position: absolute;
    opacity: 0.8;
    padding: 5px 5px 0;
    width: 370px;
}

.summary p.product-name {
    color: #EEE;
    font-weight: bold;
    font-size: 16px;
}

#mosaic_container .expanded img,
#mosaic_container .expanded {
    height: 380px;
    width: 380px;

    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari and Chrome */
    -o-transition: all 1s; /* Opera */
}


#mosaic_container .col5.expanded {
    height: 180px;
    width: 480px;
}

#mosaic_container img {
    float: left;

    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari and Chrome */
    -o-transition: all 1s; /* Opera */
}

.box .face {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden ;
    z-index: 2;
    width: 380px;
    height: 380px;
}

.box .box-front {
    position: absolute;
    z-index: 1;
}
.box .box-back {
    -webkit-transform: rotateY(180deg);
    background: #CCC;
    color: #333;
}

.details {
    padding: 20px;
    font-size: 20px;
}

.details p {
    max-height: 300px;
    overflow: scroll;
}

.details .button {
    display: block;
    margin: 20px auto;
    width: 150px;
}

.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

/* button
---------------------------------------------- */
.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}


/* green */
.green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}


.summary-left {
    float: left;
    width: 90%;
}

.summary-right {
    bottom: 0;
    position: absolute;
    right: 0;
}

a.more-info {
    background-color: #333;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    color: #DDD;
    float: right;
    font-style: italic;
    margin-right: 5px;
    opacity: 0.4;
    padding: 0 9px 0 8px;
    text-decoration: none;
}

a.more-info:hover {
    opacity: 0.7;

    -webkit-transition:opacity 0.25s linear;
    -moz-transition:opacity 0.25s linear;
    transition:opacity 0.25s linear;
}

.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

