<config>
    <modules>
        <Meanbee_Mosaic>
            <version>1.0.0</version>
        </Meanbee_Mosaic>
    </modules>
    <global>
        <blocks>
            <mosaic>
                <class>Meanbee_Mosaic_Block</class>
            </mosaic>
        </blocks>
        <models>
            <mosaic>
                <class>Meanbee_Mosaic_Model</class>
            </mosaic>
        </models>
        <helpers>
            <mosaic>
                <class>Meanbee_Mosaic_Helper</class>
            </mosaic>
        </helpers>
    </global>
    <frontend>
        <routers>
            <Meanbee_Mosaic>
                <use>standard</use>
                <args>
                    <module>Meanbee_Mosaic</module>
                    <frontName>mosaic</frontName>
                </args>
            </Meanbee_Mosaic>
        </routers>
        <layout>
            <updates>
                <mosaic>
                    <file>meanbee/mosaic.xml</file>
                </mosaic>
            </updates>
        </layout>
    </frontend>
</config>